<div class="container">
    <div class="messages mat-elevation-z7">
        <div class="chat-area">
            <div *ngFor="let message of allChatMessage$ | async" 
                 class="chat-bubble-container" 
                 [ngClass]="{'human' : message.senderType === 'human'}">
                <div class="chat-bubble">
                    {{message.message}}
                    <span *ngIf="message.senderType === 'ai'" class="source-docs-style">
                        {{message.sourceDocuments}}
                    </span>
                    <span class="chat-date">
                        {{currenDate | date:'shortDate'}}
                    </span>
                </div>
            </div>
            <div #endOfChat></div>
        </div>
        <div class="input-area">
            <mat-form-field appearance="outline">
                <input [formControl]="inputFormControl" matInput placeholder="Start typing..." (keydown.enter)="findAnswer()">
                <button *ngIf="!loading" (click)="findAnswer()" mat-icon-button matSuffix>
                    <mat-icon>send</mat-icon>
                </button>
                <mat-spinner *ngIf="loading" matSuffix [mode]="spinnerMode" diameter="20"></mat-spinner>
            </mat-form-field>
        </div>
    </div>
</div>