<div class="container">


  <div class="summary-generator-container">
    <h1>Summary Generator</h1>

    <form [formGroup]="summaryFormGroup">
      <div class="row">
        <div class="col">
          <input type="file" class="file-input" [multiple]="false" (change)="selectFiles($event)" #fileUpload />
          <div class="file-upload">
        
            {{!selectedFiles || selectedFiles.length == 0? "No file uploaded yet." : selectedFiles[0].name + " chosen" }}
        
            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
        </div>
        <div class="input-group col">
          <mat-form-field appearance="legacy" class="custom-mat-form-field">
            <mat-label>Summary Type</mat-label>
            <mat-select formControlName="userSummaryChoice" (selectionChange)="handleSelectionChange($event)">
              <mat-option *ngFor="let op of ['DETAILED', 'CONCISE']" [value]="op">{{op}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      
      <button mat-raised-button [disabled]="isLoading || !isButtonEnabled" class="generate-btn" (click)="generateSummary()">
        <div class="text-spinner-alignment">
          <span>{{ isLoading ? 'Generating' : 'Generate Summary' }}</span>
          <mat-spinner *ngIf="isLoading" diameter="20" class="spinner"></mat-spinner>
        </div>
      </button>
    </form>

    <div *ngIf="summary !== ''" class="output-group">
      <h2>Summary:</h2>
      <p style="white-space: pre-wrap;">{{summary}}</p>
    </div>
  </div>

</div>