<header class="d-flex flex-column flex-md-row align-items-center justify-content-between mat-elevation-z5">
    <img [routerLink]="['/']" src="../../../assets/images/railway_logo.png" style="max-height: 100px; max-width: 200px;margin-left: 50px;" alt="railwayslogo">
    <nav class="my-2 my-md-0 mr-md-3">
      <a mat-raised-button [color]="activeBtn === 'button1' || isActive('/')? 'accent' : 'primary'" (click)="setActiveButton('button1')" [routerLink]="['/']"><b>Home</b></a>
      <a mat-raised-button [color]="activeBtn === 'button2'|| isActive('/chatBot')? 'accent' : 'primary'" (click)="setActiveButton('button2')" [routerLink]="['/chatBot']"><b>Chat Assistant</b></a>
      <a mat-raised-button [color]="activeBtn === 'button3'|| isActive('/aboutus')? 'accent' : 'primary'" (click)="setActiveButton('button3')" [routerLink]="['/aboutus']"><b>About</b></a>
    </nav>
    <img src="../../../assets/images/cris_logo.png" style="max-height: 100px; max-width: 200px;margin-right: 50px;" alt="crislogo">
    
</header>